* {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none; }

a {
    text-decoration: none;
    color: black;
}


#leyout-header {
    padding: 0.5rem 1rem;
    background-color: rgb(199, 34, 13);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 2);
}

#leyout-header nav li {
    margin-left: 1rem;
}


main {
    flex-grow: 1;
    padding: 0.5rem;
}

footer {
    padding: 0.5rem;
    background-color: rgb(199, 34, 13);
    text-align: center;
    font-size: 0.8rem;
}


.navDerecha{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}